
@{
    ViewData["Title"] = "Deleted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product Successfully Deleted</h2>

<a class="btn btn-primary btn-dark" asp-controller="Home" asp-action="Index">Back to Index</a>

